#root{
    /* max-width: 1280px; */
    margin: 0px;
    padding: 0px;
  --bg-primary: white;
  --text-color:black;
  --card-bg-color:#efeaea;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.navbar{
    width: 100%;
    /* background-color: var(--text-color);
    color: var(--bg-color); */
    background-color: #302d2d;
    color: white;
    box-shadow: 0px 6px 20px 0px #161616;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    padding: 0.5rem;
    align-items: center;
}
.App.light{
  /* background-color: var(--bg-color);
  color: var(--text-color); */
  --bg-color: white;
  --text-color:black;
}
.App.dark{
  --bg-color: black;
  --text-color:white;
  --card-bg-color:#343131;
}
.search-bar{
  padding: 2rem;
  
}
.category-box{
  width: 200px;
  padding: 1rem;
  margin: 20px;
  border: 1px solid var(--text-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.category-box select{
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 1rem;
}
.category-text{
  color: var(--text-color);
}
.lower-div{
  width: 100%;
  min-height:84vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}
.theme-btn{
  padding: 1rem;
  /* height: 40px; */
  height: max-content;
  border-radius: 1rem;
  background-color: #fff;
  border:none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.main{
  width: 100%;
  display: flex;
  flex-direction: row;
}