.navbar{
    width: 100%;
    /* background-color: var(--text-color);
    color: var(--bg-color); */
    background-color: #302d2d;
    color: white;
    box-shadow: 0px 6px 20px 0px #161616;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    padding: 0.5rem;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color:  var(--text-color);
}
.wrapper .link{
    text-decoration: none;
    color:  white;
}
